@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------- :disabled ------------- */
div {
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version */
}


.scrollbar {
  overflow-y: auto;
}


img,
Image {
  -webkit-user-drag: none;
  /* Safari */
  user-drag: none;
  /* Other modern browsers */
}

/* For webkit-based browsers (Chrome, Safari) */
.scrollbar::-webkit-scrollbar {
  width: 10px;
  /* Change the width to your desired value */
}

/* For Firefox */
.scrollbar::-moz-scrollbar {
  width: 10px;
  /* Change the width to your desired value */
}

/* ------------------- :disabled ------------- */

/* ------------- common styles ---------------- */

#box-shadow:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition-duration: 0.5s;
}

/* ------------- common styles ---------------- */

#row:nth-child(odd) {
  background-color: #ebebeb;
}

.ripple-button {
  border-radius: 4px;
  border: none;
  padding: 14px 24px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.ripple-button>.ripple {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8fafc6c;
  display: block;
  content: "";
  border-radius: 100%;
  opacity: 1;
  animation: 1.5s ease 1 forwards ripple-effect;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(10);
    opacity: 0.375;
  }

  100% {
    transform: scale(35);
    opacity: 0;
  }
}

.ripple-button>.content {
  position: relative;
  z-index: 2;
}



/* ----------------------------------------------------------- */


#dropdown-btn:focus+ul {
  display: block;
}

.dropdown {
  perspective: 1000px;
  z-index: 40;
}

.dropdown_menu {
  perspective: 1000px;
  z-index: -1;
}

.dropdown:hover .dropdown_menu--animated {
  display: block;
}

.dropdown_menu--animated {
  display: none;
}


.dropdown_menu-6 {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@-moz-keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

@-o-keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}




/* ---------- modal styles --------------- */

.zoom-in {
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* ---------- modal styles --------------- */



/* ------------ drawer styles------------------ */

.right {
  animation-name: right;
  right: 0;
  top: 0;
  bottom: 0;
  animation-duration: 0.4s;
  animation-iteration-count: initial;
}

.left {
  animation-name: left;
  left: 0;
  top: 0;
  bottom: 0;
  animation-duration: 0.4s;
  animation-iteration-count: initial;
}

.bottom {
  animation-name: bottom;
  left: 0;
  right: 0;
  bottom: 0;
  animation-duration: 0.4s;
  animation-iteration-count: initial;
}

/* Define the animation */
@keyframes right {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

@keyframes left {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes bottom {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0;
  }
}


/* ------------ drawer styles------------------ */







@media screen and (max-width: 1000px) {
  .mainTable {
    border: 0;
    /* background: red; */
    /* background: red; */
  }

  .mainTable caption {
    font-size: 1.3em;
  }

  .mainTable thead {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mainTable tr {
    display: block;
    margin-bottom: .625em;
  }

  .mainTable td {
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .mainTable td::before {
    content: attr(data-label);
    float: left;
  }

  .mainTable td:last-child {
    border-bottom: 0;
  }
}